.il-mainbar-slates > .il-maincontrols-slate.engaged > .il-maincontrols-slate-content .panel-secondary {
    .panel-heading.ilHeader {
        padding: 6px 6px 6px 12px;
    }
    .il-item-group {
        background-color: @il-main-dark-bg;
        > h3 {
            font-size: 1.5rem;
            line-height: 1.7rem;
        }
    }
    .il-std-item-container:first-child {
        border-top: none;
    }
}
.il-mainbar-triggers {
    .btn-bulky:focus-visible,
    .il-link.link-bulky:focus-visible {
        background-color: white;
        color: @il-neutral-color;
        .bulky-label {
            color: @il-neutral-color;
        }
        .icon {
            filter: invert(50%);
        }
    }
}

//TOOLS
.il-mainbar-tools-button {
    .btn-bulky {
        background-color: @accent-primary;
        &.engaged {
            background-color: @il-highlight-bg;
        }
    }
}
.il-mainbar-tools-entries-bg {
    background-color: @il-highlight-bg;
}
.il-maincontrols-slate {
    #il-tag-slate-container,
    #ilHelpPanel { 
        .btn-bulky .bulky-label {
            margin-top: 1px;
        }
    }
}
.il-mainbar-tools-entries {
    .btn-bulky,
    .il-link.link-bulky {
        background-color: @accent-primary;
    }
}


//ONLINE HELP
.il-maincontrols-slate-content > .ilHighlighted {
    background-color: @il-main-dark-bg;
}
#ilHelpPanel {
    #il_help_search_form {
        padding: 5px;
        margin-top: 5px;
    }
    div.ilSideBarHead {
        padding: 5px 10px;
    }
    .ilSideBarContent {
        padding: 5px 10px !important;
    }
    .il_VAccordionInnerContainer {
        margin-bottom: 2px;
    }
    .il_VAccordionHead {
        line-height: 1.7rem;
        font-size: 1.5rem;
        font-weight: inherit;
        color: @il-text-color;
        background-color: @il-slate-bulky-bg-color;
        padding: 15px 10px 15px 30px;
        background-position: 3px center;
        &.il_HAccordionHeadActive {
            background-color: @il-highlight-bg;
        }
    }
}