//KS FORMS
.il-standard-form .il-standard-form-header,
.il-standard-form .il-standard-form-footer,
.il-standard-form .il-section-input-header {
    background-color: white;
    color: @il-text-color;
    > h2 {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

//LEGACY FORMS
.ilFormHeader {
    padding: 20px 0px 5px;
}
.ilFormHeader,
.ilFormFooter {
    color: @il-text-color;
    background-color: white;
}
.form-group {
    background-color: @il-content-bg;
}
.form-horizontal {
    background-color: @il-main-dark-bg;
    .help-block {
        color: @il-text-color;
    }
}

//INFO SCREEN
.ilInfoScreenSec.form-horizontal .form-group {
    background-color: @il-main-dark-bg;
}
.il_InfoScreenProperty {
    color: @il-text-color;
}
  .il_InfoScreenPropertyValue {
    background-color: @il-content-bg;
    border-left: 1px solid @il-main-border-color;
}